@import url("https://fonts.googleapis.com/css2?family=Inria+Serif&family=Roboto&display=swap");

:root {
    --primary-color: #FAFAFA;
    --secondary-color: #5D4037;
    --accent1-color: #FF8A65;
    --accent2-color: #FFD54F;

    --heading-font: "Inria Serif";
    --paragraph-font: Roboto, Helvetica, sans-serif;

    --headline-color-on-white: #5D4037;
    --headline-color-on-color: #FFD54F;
    --paragraph-color-on-white: #5D4037;
    --paragraph-color-on-color: #FAFAFA;
    --paragraph-background-color: #5D4037;
    --nav-link-color: #FF8A65;
    --nav-background-color: #5D4037;
    --nav-hover-link-color: #FAFAFA;
    --nav-hover-background-color: #FF8A65;
}

body {
    font-family: var(--paragraph-font);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    background-color: var(--nav-background-color);
    padding: 10px 20px;
    justify-content: space-between;
    margin: auto;
}

header img {
    width: 100px;
    height: auto;
}

header nav {
    display: flex;
    gap: 15px;
    margin-right: 500px;
    font-size: 28px;
}

header nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 5px 20px;
}

header nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-size: cover;
    background-position: center;
    color: var(--paragraph-color-on-color);
    text-align: center;
    padding-top: 20px;
}

.hero img {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero h1, .hero p {
    position: relative;
    z-index: 2;
    padding-bottom: 20px;
}

.hero h1 {
    font-size: 4em;
    margin: 0;
    padding-bottom: 20px;
}

.hero p {
    font-size: 1.4em;
}

.intro {
    padding: 20px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--paragraph-color-on-white);
}

.offerings {
    padding: 20px;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--paragraph-color-on-color);
}

.offering-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.offering {
    background-color: var(--primary-color);
    color: var(--paragraph-color-on-white);
    padding: 15px;
    border-radius: 10px;
}

.journey {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-size: cover;
    background-position: center;
    color: var(--headline-color-on-white);
    text-align: center;
    padding-top: 20px;
}

.journey img {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.journey h2 {
    position: relative;
    z-index: 2;
    font-size: 4.5em;
    margin: 0;
    padding-bottom: 240px;
}

.unique-journey {
    padding: 20px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--paragraph-color-on-white);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--nav-background-color);
    color: var(--paragraph-color-on-color);
    padding: 10px;
}

footer p, footer a {
    margin: 5px 0;
    color: var(--paragraph-color-on-color);
}

footer .social-links {
    display: flex;
    gap: 10px;
}

footer .social-links a {
    color: var(--nav-link-color);
    text-decoration: none;
}

footer .social-links a:hover {
    color: var(--nav-hover-link-color);
}
