@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif&family=Roboto&display=swap");

/* Define the CSS variables */
:root {
    --primary-color: #FAFAFA;
    --secondary-color: #5D4037;
    --accent1-color: #FF8A65;
    --accent2-color: #FFD54F;

    --heading-font: "Inria Serif";
    --paragraph-font: Roboto, Helvetica, sans-serif;

    --headline-color-on-white: #5D4037;
    --headline-color-on-color: #FFD54F;
    --paragraph-color-on-white: #5D4037;
    --paragraph-color-on-color: #FAFAFA;
    --paragraph-background-color: #5D4037;
    --nav-link-color: #FF8A65;
    --nav-background-color: #5D4037;
    --nav-hover-link-color: #FAFAFA;
    --nav-hover-background-color: #FF8A65;
}

body {
    box-sizing: border-box;
    font-family: var(--paragraph-font);
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    color: var(--paragraph-color-on-white);
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    background-color: var(--nav-background-color);
    padding: 10px 20px;
    justify-content: space-between;
    margin: auto;
}

header img {
    width: 100px;
    height: auto;
}

header nav {
    display: flex;
    gap: 15px;
    margin-right: 500px;
    font-size: 28px;
}

header nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 5px 20px;
}

header nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

main {
    padding: 20px;
}

.message h2 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
    font-size: 2rem;
}

.message p {
    font-size: 1.2rem;
    color: var(--paragraph-color-on-white);
}

.counter h3 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
    font-size: 1.8rem;
}

.counter p {
    font-size: 1.2rem;
    color: var(--paragraph-color-on-white);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--nav-background-color);
    color: var(--paragraph-color-on-color);
    padding: 10px;
}

footer p, footer a {
    margin: 5px 0;
    color: var (--paragraph-color-on-color);
}

footer .social-links {
    display: flex;
    gap: 10px;
}

footer .social-links a {
    color: var (--nav-link-color);
    text-decoration: none;
}

footer .social-links a:hover {
    color: var (--nav-hover-link-color);
}
