@media screen and (max-width: 999px) {
    header {
        font-size: 30px;
    }

    h1 {
        font-size: 30px;
    }

    .data, .weather{
        position: static;
        top: auto;
        left: auto;
        transform: none;
        width: 90%;
        margin: 20px auto;
    }

    .data {
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);
        width: 90%;
    }

    .weather {
        top: 200%; 
        right: 50%; 
        transform: translate(50%, -50%);
        width: 90%;
    }

    .data-row, .data-weather {
        flex-direction: column;
    }

    .left-column, .right-column {
        width: 100%;
        text-align: center;
        margin: 5px 0;
    }

    #weather-img {
        margin: 0 auto;
    }
}
